<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
<appSettings>
    <add key="AWSRegion" value="us-east-1"/>
    <add key="POOL_id" value="us-east-1_Bp9zDy6qR"/>
    <add key="CLIENT_id" value="60ddjpgc4jfo2fair3gi49ll1"/>   
  <add key="FED_POOL_id" value="us-east-1:146ea462-061b-42df-b8a5-a207d58555fb"/>
  <add key="CUSTOMDOMAIN" value="ss"/>
 
</appSettings>
</configuration>
