<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.15" targetFramework="net45" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.6.1" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.18" targetFramework="net45" />
  <package id="AWSSDK.Extensions.CognitoAuthentication" version="0.9.1" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.11.1" targetFramework="net45" />
  <package id="AWSSDK.SecurityToken" version="3.3.3.1" targetFramework="net45" />
</packages>